html {
  margin-top: 0 !important;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 30px 30px;
  color: black;
  box-shadow: -3px 6px 13px -9px rgba(0, 0, 0, 0.75);
}
header .logo {
  max-width: 130px;
}
header h1 {
  margin: 0 0 0 15px;
  font-size: 46px;
  font-weight: 700;
}

.main-container {
  margin: 0 auto;
  max-width: 1250px;
  width: 100%;
  padding: 60px 0;
}
.main-container h1 {
  text-align: center;
}
.main-container h1 a {
  color: black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding: 20px;
  box-shadow: 3px 11px 28px 6px rgba(0, 0, 0, 0.75);
}
footer .logo {
  max-width: 130px;
}

@media (max-width: 1199px) {
  header {
    justify-content: center;
  }
}